* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff url("../../images/RTI-ACT/bg_pattern.gif");
  font-family: Arial, Helvetica, sans-serif, Calibri;
  font-size: 14px;
  color: #353535;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 914px) {
  main {
    justify-content: unset;
  }
}

.side-nav-bar {
  background-color: #0084ff;
  flex: 0 0 180px;
}
.side-nav-bar a {
  display: block;
  padding-left: 20px;
  margin-bottom: 2px;
  font-size: 15px;
  color: #fff;
}
.side-nav-bar a.current,
.side-nav-bar a:hover {
  background: #933 url("../../images/RTI-ACT/vert-one_arrow.gif") no-repeat 0
    9px;
}

.side-nav-bar a:not(.current):hover {
  background-color: #000;
}

.content {
  background-color: #fff;
  padding: 20px 40px 100px;
  flex: 0 0 734px;
}

.content h1 {
  color: #c91d7f;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.content h2 {
  color: #0083ff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
